<tr>
  <td><%= ticket.title %></td>
  <td><%= ticket.issue_type ? ticket.issue_type.name : "No Category" %></td>
  <td><%= ticket.total_hours(params[:date][:month].to_i, params[:date][:year].to_i) %></td>
</tr>